<%=render 'shared/content_title',title: 'Edit User' %>

<div class='well'>
  <%= form_for @user ,:html => {:multipart =>true } do |f| %>
      <%= render 'shared/errors',obj: @user %>
      <div class='control-group'>
        <%= f.label :username, 'Username' %>
        <%= f.text_field :username %>
      </div>
      <div class='control-group'>
        <%= f.label :password %>
        <%= f.password_field :password %>
        </div>

      <div class='control-group'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation  %>
      </div>
        <div class = 'form-inline'  >
          <%= f.file_field :image %>
        </div>
        <div class="col-lg-0">
          <%= f.submit 'Submit', class:"btn btn-primary"  %>
        </div>
      </div>

  <% end%>
</div>