<%=render 'shared/content_title',title: 'All Issues' %>
<p><span><%= button_to "Log new Issue", new_project_issue_path( @project,@issue ),class: 'btn btn-large btn-primary',:method => :get  %></span> </p>
<br/>
<br/>
<% @project.issues.each do |issue|%>
    <div class = "row">
      <div class = "span8 well" >
        <span class="label label-danger"><%= issue.severity.name %></span>
        <span class="badge"><%= issue.priority.name %></span>
        <span class="label label-info"><%= issue.state.name %></span>
        <br/>
        <br/>
        <h3><%= link_to  issue.title, project_issue_path( @project, issue ) %></h3>
        <br/>
        <span class='quiet'>Assigned to: </span><%= issue.creator.username %>
        <br>
      </div>
    </div>
<%end%>



